#chat {
	height : 300px;
}

#contentWrapper {
	display : none;
}

#chatWrapper {
	float : left;
	border : 1px solid #000;
}

.error {
	color : red;
}

.pvtMsg {
	color : gray;
	font-style : italic;
}
